*{
	margin: 0px;
	padding: 0px;
}
table {
	border-radius: 1px;
	width: 100%;
}
caption {
	font-size: 30px;
	color: red;
	text-align: center;
}
table tr td{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	background-color: rgb(232 178 95 / 80%)
}
table tr td:hover{
	background-color: yellow;
}
table tr th{
background-color: rgb(226 143 15 / 80%);
}
table tr th:hover{
	background-color: yellow;
}
h3 {
	font-weight: bold;
	color: blue;
}
h2 {
	text-align: center;
	color: cyan;
	text-shadow: 1px 1px 1px;
}
.cen{
	text-align: center;
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}